/* cursor */

#cursor{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 9;
}
#overlay{
    background-color: gold;

    position: absolute;
    z-index: 10;
}